<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    <li><a href="/examples/restrictedAccessThymeleafExample">Restricted Access Thymeleaf Example</a></li>
    <li><a href="/examples/restrictedAccessThymeleafExampleSvg?index=0">svg 0</a></li>
    <li><a href="/examples/restrictedAccessThymeleafExampleSvg?index=1">svg 1</a></li>
    <li><a href="/examples/restrictedAccessThymeleafExampleSvg?index=2">svg 2</a></li>
    <li><a href="/examples/restrictedAccessThymeleafExampleSvg?index=3">svg 3</a></li>
</ul>
</body>
</html>